<li> <%= question.body %> </li>

<span> <%= link_to "Edit", edit_question_path(question) %> |</span>  

<span> <%= link_to "Delete", question_path(question), method: :delete, data: { confirm: "Are you sure?" } %> |</span>