<table class="table table-success table-striped align-middle">
  <thead>
    <tr >
      <th scope="col" ><%= t(".question") %></th>
      <th scope="col"><%= t(".link") %></th>
      <th scope="col"><%= t(".user") %></th>
    </tr>
  </thead>

<%= render gists %>

</table>