<h3>Name: <%= @user.name %> </h3>


<h4>Tests: </h4>

<table style = "border-collapse: collapse; text-align: center;">
  <tr >
    <th style = "padding: 0.5rem;" >Title</th>
    <th style = "padding: 0.5rem;">Category</th>
    <th style = "padding: 0.5rem;">Level</th>
    <th style = "padding: 0.5rem;">Questions Qty</th>
    <th style = "padding: 0.5rem;" collspan="4" >Actions</th>
  </tr>
    <%= render @user.tests %>
</table>
  
<div>
  <%= link_to "Add question", new_test_question_path(@user) %>  
</div>  
