<footer style="position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem"
  >

  <span> <%= github_url("gusailov", "tester") %></span>

  <span> 
    <%= link_to "App for create&pass tests (training project) |",
          "https://launchschool.com/books/ruby/read/introduction", target: :blank %>
  </span>
  
  <span> <%= link_to "© Gusailov |", "https://github.com/gusailov", target: :blank %></span>
  
  
  <span> <%= current_year %></span>

</footer>