<nav>
  <h3>
    <span> <%= link_to "All Tests", tests_path %> |</span>
    <span> <%= link_to "Create New Test", new_test_path %> |</span>
    <span> <%= link_to "All Users", users_path %> |</span>
    <span> <%= link_to "Create New Category", new_category_path %> </span>
  </h3>
</nav>