<li> <%= question.body %> </li>

<span> <%= link_to "Show", admin_question_path(question) %> |</span>

<span> <%= link_to "Edit", edit_admin_question_path(question) %> |</span>

<span> <%= link_to "Delete", admin_question_path(question), method: :delete, data: { confirm: "Are you sure?" } %> |</span>
