<div class="mb-3">
  <%= question_header(@question) %> 

  <%= render "form" %>

  <%= link_to t(".back_to_test"), admin_test_path(@question.test_id),
              class: "btn btn-outline-primary text-dark text-decoration-none" %>
</div>
