<h3>Category: <%= link_to "#{category.title}", category_path(category) %> <%=  %> </h3>

<table style = "border-collapse: collapse; text-align: center;">
  <%= render "/shared/tests_table_head" %>
  <%= render category.tests %>
</table>