<table style = "border-collapse: collapse; text-align: center;">

<tr >

  <th style = "padding: 0.5rem;" >Title</th>

  <th style = "padding: 0.5rem;">Category</th>

  <th style = "padding: 0.5rem;">Level</th>

  <th style = "padding: 0.5rem;">Questions Qty</th>

</tr>

<%= render tests %>

</table>